[changelog]
# changelog header
header = """
# Changelog

All notable changes to this project will be documented in this file.

The format is based on [Keep a Changelog](https://keepachangelog.com/en/1.0.0/),
and this project adheres to [Semantic Versioning](https://semver.org/spec/v2.0.0.html).\n
"""

# template for the changelog body
# https://keats.github.io/tera/docs/#introduction
body = """
{% if version %}\
    ## [{{ version }}] - {{ timestamp | date(format="%Y-%m-%d") }}
{% else %}\
    ## [Unreleased]
{% endif %}\
{% for group, commits in commits | group_by(attribute="group") %}
    ### {{ group | upper }}
    {% for commit in commits %}
        - {% if commit.breaking %}[BREAKING] {% endif %}{{ commit.message | upper_first }} ([`{{ commit.id | truncate(length=7, end="") }}`]({{ commit.link }}))
    {%- endfor %}
{% endfor %}\n
"""

# template for the changelog footer
footer = """
"""

# remove the leading and trailing whitespace from the template
trim = true

# parse the commit message as text/markdown or as a commit convention
# Available options: parsed (default), text
commit_style = "conventional"

# filter out the commits that are not matched by any of the patterns
default_message_style = "text"

# commit groups
# possible values: feat, fix, perf, refactor, style, test, chore, revert, doc, ci, build, etc
[[commit_parsers]]
message = "^feat"
group = "Features"

[[commit_parsers]]
message = "^fix"
group = "Bug Fixes"

[[commit_parsers]]
message = "^perf"
group = "Performance"

[[commit_parsers]]
message = "^refactor"
group = "Refactoring"

[[commit_parsers]]
message = "^doc"
group = "Documentation"

[[commit_parsers]]
message = "^test"
group = "Testing"

[[commit_parsers]]
message = "^ci"
group = "CI/CD"

[[commit_parsers]]
message = "^build"
group = "Build"

[[commit_parsers]]
message = "^chore"
skip = true

[[commit_parsers]]
message = "^revert"
group = "Reverts"

# protect breaking changes from being skipped
[[commit_parsers]]
message = "^[a-zA-Z0-9]+(!):"
group = "Breaking Changes"

# default commit group
[commit_parsers."default"]
group = "Other"
